.component {
  display: flex;
  flex-direction: column;
  min-height: 156px;
  align-items: center;
  justify-content: space-around;
  padding-top: 85px;
  margin-top: 5px;
  border-top: 1px solid #e6e6e6;
}

.img {
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.greeting {
  color: #303336;
  font-size: 12px;
  &__user {
    font-weight: 500;
  }
}
