.component {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px 0;
  border: 1px solid #eeeeee;
}
.img {
  width: 30px;
  height: 30px;
}
.text {
  font-size: 11px;
  margin-left: 10px;
  font-weight: 500;
  color: #9b9fa4;
}
