.wrapper {
  padding-bottom: 20px;
}

.controlsWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.controlsLabel {
  font-size: 12px;
  color: #899399;
  margin-left: 10px;
}

.controls {
  display: flex;
  flex: 1;
  max-width: 234px;
  align-items: center;
  justify-content: space-between;
}

.progressContainer {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 20px;
  margin-bottom: 10px;
}

.progressText {
  font-size: 11px;
  color: #a9aaac;
  margin: 0 10px;
}

.progressWrapper {
  height: 6px;
  width: 150px;
  border-radius: 4px;
  transform: scaleX(-1);
  background: linear-gradient(to right, rgba(108,201,130,1) 0%,rgba(255,226,120,1) 50%, rgba(255,118,114,1) 100%);
}

.progressLine {
  display: block;
  flex: 1;
  background: white;
  height: 70%;
  width: 22%;
  border: 1px solid #e4e8eb;
  border-right: none;
  border-radius: 4px 0 0 4px;
}
