.component {
  display: flex;
  height: 39px;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 3px 2px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.03);
  color: #656b71;
  border-radius: 4px;
  font-size: 12px;
  justify-content: space-evenly;
}

.devider {
  border-right: 1px solid #f0f0f0;
  width: 1px;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.value {
  font-weight: 500;
  margin-top: 5px;
  &--green {
    color: #30bb65;
  }
}
