.formWrapper {
  display: flex;
  flex-direction: column;
}

.cardNumberWrapper {
  display: flex;
  margin-bottom: 10px;
  & > div:last-child {
    flex: 1;
  }
}

.error {
  margin-top: 4px;

  small {
    color: red;
  }
}

.brandPadding {
  padding: 0 15px;
}

.widthInExpirity {
  width: 85px;
}

.widthInCVC {
  width: 65px;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  margin-left: 20px;
  color: #8b9197;
}
