.formWrapper {
  display: flex;
  flex-direction: column;
}

.input {
  display: block;
  width: 100%;
  padding: 17px;
  font-size: .9rem;
  color: #484848;
  background: #fff none;
  background-clip: padding-box;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-family: inherit;

  border-radius: 5px;
  border: solid 1px #d9d9d9;

  font-weight: 400;

  &:active,
  &:focus {
    outline: none;
    border-color: #979797;
  }
}

.cardType {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.error {
  margin-top: 4px;

  small {
    color: red;
  }
}
