.component {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
}

.after {
  display: flex;
  align-self: center;
  align-items: center;
  &__value {
    font-size: 12px;
    margin: 5px 0;
    font-size: 14px;
    font-weight: 500;
    color: #303336;
  }
  &__label {
    font-size: 12px;
    margin-left: 4px;
    color: #8e9096;
    font-weight: 500;
  }
}
