.controlsWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.controlsLabel {
  font-size: 12px;
  color: #899399;
  margin-left: 10px;
}

.controls {
  display: flex;
  flex: 1;
  max-width: 234px;
  align-items: center;
  justify-content: space-between;
}


.preloaderWrapper {
  display: flex;
  justify-content: center;
}
