.wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 10px;
  z-index: 1;
}

.container {
  display: flex;
  flex: 1;
  max-width: 900px;
  height: 75px;
}

.item {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
  align-items: center;
  border-right: 1px solid #f6f6f8;
  text-transform: uppercase;
  color: #929292;
  font-size: 12px;
  background-color: none;
  transition: background 0.1s;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
}

.item:hover, .active {
  color: #7fcd00;
  cursor: pointer;
  font-weight: bold;
  // box-shadow: 0px -22px 22px 4px rgba(0,0,0,0.03);
}
