
.error {
  margin-top: 4px;

  small {
    color: red;
  }
}

.requiredAsterisk {
  .label {
    &:after {
      display: inline;
      color: red;
      content: '*';
      margin-left: 2px;
    }
  }
}

.disabled {
  input {
    background-color: #f0f0f0 !important;
    cursor: not-allowed;
  }
}

.container {
  position: relative;
}

.hasError {
  border-color: red;

  .currencyPlaceholder {
    background-color: red;
  }
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hasLimit {
  position: relative;

  span {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 12px;
  }

  input {
    padding-right: 60px;
  }
}

.isCurrency {
  position: relative;

  input {
    padding-left: 40px;
  }
}

.currencyPlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: blue;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.currencyPlaceholderValue {
  padding: 0 .5em;
  color: white;
  font-size: 14px;
}

.afterLabel {
  position: absolute;
  top: 11px;
  right: 8px;
  bottom: 0;
  display: flex;
  opacity: .5;
}

.hasAfterLabel {
  position: relative;

  // Get rid of the number "up", "down" controls
  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
}
