.component {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  &__label {
    font-size: 11px;
    font-weight: 500;
    margin: 10px 10px 10px 20px;
    text-transform: uppercase;
    color: #957878;
    &--active {
      color: #5893d2;
    }
  }
}

.input {
  display: flex;
  flex: 1;
  border: 1px solid #ece5e5;
  height: 48px;
  padding: 0 44px 0 20px;
  font-size: 12px;
  border-radius: 4px;
  color: #987b88;
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.02);
  &:focus {
    border-radius: 4px;
    outline: none;
    transition: border 0.4s, box-shadow 0.4s;
    box-shadow: 0px 0px 0px 3px rgba(0, 203, 255, 0.1);
    border: 1px solid #a9d3ff;
  }
}

.img {
  position: absolute;
  top: 50px;
  right: 15px;
  width: 17px;
}

.labelWrapper {
  display: flex;
  align-items: center;
}

.info {
  font-size: 11px;
  &__required {
    color: #ff8600;
  }
  &__error {
    color: #ef7558;
  }
}

.asyncLoader {
  position: absolute;
  top: 46px;
  right: 12px;
  width: 24px;
}
