.component {
  display: flex;
  flex-direction: column;
  position: relative;
}

.component label {
  font-size: 11px;
  font-weight: 500;
  color: #565c61;
  margin: 10px 10px 10px 20px;
}

.input {
  display: flex;
  flex: 1;
  border: 1px solid #ededed;
  height: 48px;
  padding: 0 44px 0 20px;
  font-size: 12px;
  &:focus {
    border: 1px solid #c3d5f3;
    outline: none;
  }
}

.img {
  position: absolute;
  top: 50px;
  right: 15px;
  width: 17px;
}

.labelWrapper {
  display: flex;
  align-items: center;
}

.info {
  font-size: 11px;
  &__required {
    color: #ff8600;
  }
  &__error {
    color: #ef7558;
  }
}

.asyncLoader {
  position: absolute;
  top: 46px;
  right: 12px;
  width: 24px;
}
