.button {
  width: 150px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  height: 46px;
  align-items: center;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
  }
  &__primary {
    background-color: #4589dd;
    color: #e7f2ff;
  }
  &__disabled {
    background-color: #d6d6d6;
    color: #888888;
    &:hover {
      cursor: not-allowed;
    }
  }
}
