.component {
  display: flex;
  flex: 1;
  align-items: center;
  padding-bottom: 15px;
  margin: 5px 0px;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between;
}

.img {
  width: 21px;
  height: 21px;
  display: flex;
  margin-left: 20px;
}

.main {
  color: #656b71;
  font-size: 11px;
  margin: 0 25px;
  flex: 1;
}

.titleWrapper {
  font-weight: 500;
  margin: 10px 0;
}

.title {
  text-transform: uppercase;
}

.title_value {
  margin-left: 10px;
  color: #ff9468;
  &--completed {
    color: #6ebd88;
  }
}

.row {
  line-height: 15px;
  &__value {
    font-weight: 500;
  }
}
