.wrapper {
  display: flex;
  background-color: #f8f8f8;
  background-color: rgba(255, 255, 255, 0.91);
  border-radius: 0 0 4px 4px;
  transition: flex 0.5s;
}

.devider {
  display: flex;
  width: 1px;
  background-color: #f6f6f8;
  border: 1px solid #f2f2f2;
  flex-direction: column;
}

.leftBar {
  display: flex;
  flex-direction: column;
  width: 230px;
  padding: 20px;
  background-color: white;
  border-radius: 0 0 0 4px;
  border-right: 1px solid #ececec;
}

.rightBar {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 395px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: #303336;
}

.description {
  font-size: 11px;
  color: #8e9096;
  padding: 7px 0 5px 0;
}
