.component {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.subscriptions {
  display: flex;
  flex-wrap: wrap;
}

.durationOptions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.buttonWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}
