.wrapper {
  justify-content: space-evenly;
  animation-name: duration-appear;
  animation-duration: 0.3s;
}

.component {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.subscriptions {
  display: flex;
  flex-wrap: wrap;
  height: 228px;
  margin-top: 20px;
}

.durations {
  justify-content: space-evenly;
  animation-name: duration-appear;
  animation-duration: 0.3s;
  padding-top: 20px;
}

.durationOptions {
  display: flex;
  justify-content: space-evenly;
  animation-name: duration-appear;
  animation-duration: 0.7s;
}

.buttonWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  &__desc {
    font-size: 12px;
    color: #82878b;
    margin-top: 20px;
  }
}

@keyframes duration-appear {
  from {
    opacity: 0;
    margin-top: 15px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.buttonWrapper {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.loader {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
