.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.termsAndPolices {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
  &__text {
    font-size: 11px;
    color: #828a90;
  }
  &__link {
    color: #46a269;
    cursor: pointer;
    text-decoration: underline;
  }
}

.errors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 15px 0;
  max-height: 90px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  justify-content: space-evenly;
  animation-name: duration-appear;
  animation-duration: 0.3s;
  &__header {
    text-transform: uppercase;
    font-size: 12px;
    color: #656b79;
    font-weight: 500;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  &__error {
    font-size: 12px;
    color: #ea5353;
    display: flex;
    align-items: center;
    margin: 5px 5px;
  }
  &__img {
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }
}

@keyframes duration-appear {
  from {
    opacity: 0;
    margin-top: 15px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
