.step {
  display: flex;
  position: relative;
  margin-left: 40px;
  align-items: center;
  padding-bottom: 40px;
  &__number {
    padding: 5px;
    font-size: 11px;
    background-color: white;
    border: 3px solid #e2e3e7;
    border-radius: 30px;
    color: #8c9194;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &_done {
      background-color: #20d67d;
      border: 3px solid #52df9d;
      background-size: 10px;
      background-image: url('universal/assets/icons/tick.svg');
    }
    &_err {
      background-color: #de7272;
      border: 3px solid #f19191;
      background-size: 8px;
      background-image: url('universal/assets/icons/cancel.svg');
    }
    &_skipped {
      background-color: #ffea8d;
      border: 3px solid #f5d8af;
      background-size: 8px;
      background-image: url('universal/assets/icons/warning.svg');
    }
    &_active {
      border: 3px double #cecfd2;
      color: white;
      height: 0;
      width: 0;
      margin-left: 4px;
      margin-right: 7px;
    }
  }
  &__desc {
    font-size: 12px;
    color: #8a9395;
    margin-left: 15px;
    cursor: pointer;
    &_active {
      font-weight: 500;
    }
    &_err {
      color: #de7172;
    }
    &_done {
      color: #3cb373;
    }
  }
  &__leadingLine {
    height: 100%;
    width: 2px;
    background-color: #e3e4e8;
    position: absolute;
    top: 0;
    left: 11px;
  }
}

.step:first-child {
  margin-top: 40px;
}
