.component {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: white;
  margin: 3px 0;
  color: #656b71;
  border-bottom: 1px solid #f1f1f1;
  &:hover {
    cursor: pointer;
    font-weight: bold;
    color: #303336;
  }
  &--disabled {
    &:hover {
      cursor: not-allowed;
      font-weight: normal;
    }
  }
}

.iconWrapper {
  width: 50px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aef7ca;
  border: 1px solid #abf2c6;
  animation-name: icon-appear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.icon {
  width: 21px;
  margin-left: 15px;
}

.isDone {
  width: 14px;
}

.text {
  font-size: 12px;
  margin-left: 15px;
  margin-right: 15px;
  &__active {
    font-weight: bold;
    color: #303336;
  }
}

@keyframes icon-appear {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 21%;
    opacity: 1;
  }
}
