.component {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.03);
  color: #656b71;
  border-radius: 4px;
  margin: 2px;
  height: 120px;
  flex: 1 0 calc(50% - 8px);
  width: 70px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  &__img {
    width: 21px;
    height: 21px;
    margin-right: 10px;
    opacity: 0.4;
  }
  &__text {
    font-size: 12px;
  }
}

.textWrapper {
  margin: 10px 0;
}

.text {
  font-size: 16px;
  font-weight: 500;
  color: #303336;
  &--small {
    font-size: 12px;
  }
}
