.step {
  display: flex;
  position: relative;
  margin-left: 40px;
  align-items: center;
  padding-bottom: 40px;
  &__number {
    padding: 6px;
    font-size: 14px;
    position: absolute;
    background-color: white;
    border: 3px double #e2e3e7;
    border-radius: 30px;
    color: #8c9194;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &_done {
      background-color: #20d67d;
      border: none;
      background-size: 12px;
      margin-left: 3px;
      background-image: url('universal/assets/icons/tick.svg');
    }
    &_err {
      background-color: #de7272;
      border: 3px solid #f19191;
      background-size: 8px;
      background-image: url('universal/assets/icons/cancel.svg');
    }
    &_invis {
      background-color: #fa7677;
      border: 3px solid #fa7677;
      background-size: 10px;
      cursor: not-allowed;
      background-image: url('universal/assets/icons/locked.svg');
    }
    &_skipped {
      background-color: #ffea8d;
      border: 3px solid #f5d8af;
      background-size: 8px;
      background-image: url('universal/assets/icons/warning.svg');
    }
    &_active {
      border: none;
      color: white;
      background-color: #ff7777;
      animation-name: card-appear;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      &--red {
        background-color: #ff7777;
      }
      &--green {
        background-color: #20d67d;
      }
    }
  }
  &__desc {
    font-size: 12px;
    color: #8a9395;
    margin-left: 40px;
    cursor: pointer;
    &_active {
      font-weight: 500;
      color: #ff7777;
    }
    &_err {
      color: #de7172;
    }
    &_done {
      color: #3cb373;
    }
    &_invis {
      cursor: not-allowed;
    }
  }
  &__leadingLine {
    height: 70%;
    width: 2px;
    position: absolute;
    border: none;
    top: 16px;
    left: 13px;
    background: linear-gradient(to bottom, #e5e6ea 0%, #e5e6ea 100%);
    &--done {
      background: linear-gradient(0deg, #20d67d, #e5e6ea);
      background-size: 50% 300%;
      animation: line 2s ease forwards;
      // animation-name: line;
      // animation-duration: 2s;
      // animation-fill-mode: forwards;
      // border-right: 4px solid #20d67d;
    }
  }
}

.step:first-child {
  margin-top: 40px;
}

@keyframes line {
  0%{background-position:0% 150%}
  100%{background-position:51% 100%}
}

@keyframes card-appear {
  from {
    padding: 5px;
    left: 11px;
  }
  to {
    padding: 2px;
    left: 7px;
  }
}
